/*

COLORS{
   main: #33495f
   day1: #6b7e90;
   day2: #496076
   day3: #1f374e
   day4: #0f253a
}

*/
.no-margin{
   margin: 0;
}

.display-inline{
   display: inline;
}

html, body, #wrapper, #main{
   width: 100%;
   height: 100%;
   margin: 0;
   color: #ffffff;
   background-color: #33495f;
}

#main{
   padding-left: 0px;
   padding-right: 0px;
}

#header{
   width: 100%;
   height: 40px;
   margin: 0;
   /*background-color: #33495f;*/
}

#header-current > div{
   padding: 0;
}

.p-header{
   font-weight: 100;
   letter-spacing: 1px;
   padding: 12px;
   font-size: 12px;
   margin-bottom: 0;
}

.p-header > a{
   color: inherit;
}

.p-header > a:hover{
   cursor: pointer;
}

#header-forecast{
   padding-top: 9px;
}

#header-forecast > p {display: inline;}

#p-divider{padding-left: 0; padding-right:0;}

#content{
   width: 100%;
   margin: 0;
/*   position: absolute;
   top: 40px;*/
   height: 100vh;
   bottom: 0;
   overflow: auto;
}

#current{
   background-color: #33495f;
   height: 100vh;
   text-align: center;
}

#content-current{
   height: calc(100vh - 40px);
}

.precip-curr {font-size: 18px; margin-top: -10px;}
.temp-curr {font-size: 50px; margin-top: 50px;}
.feels-curr {font-size: 16px; font-weight: 100; letter-spacing: 1px;}
.app-temp-curr {font-size: 50px;}
.quote-curr {font-size: 35px; font-weight: 100; font-style: italic; letter-spacing: 2px; margin-top: 50px;}

#icon-current{
   height: 200px;
   width: 200px;
}


/****** Forecast *****/
#forecast{
   background-color: #6b7e90;
   height: 100vh;
   padding: 0;
}

#content-forecast{
   height: calc(100vh - 40px);
}

.daily{
   width: 100%;
   height: 25%;
   min-height: 158px;
   margin: 0;
   padding-left: 30px;
}

.p-day{
   font-size: 45px;
   margin-top: 45px;
   margin-bottom: 0px;
}

.p-hour-margin{
   margin-top: 35px;
}

.day-icon{ padding-top: 25px; }

.img-daily{ 
   width: 80px; 
   /* http://stackoverflow.com/questions/29439321/horizontally-align-image-thats-bigger-than-its-parent-div */
   display: block;
   margin: auto;
   max-width: none;
   position: absolute;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%);
}

.img-daily-wrapper{
   height: 80px;
}

.p-temp{
   font-weight: 100;
   font-size: 22px;
   letter-spacing: 1px;
   padding: 10px;
}

.p-temp-hl{
   font-weight: 400;
}

/*.p-temp-feel{
   font-size: 20px;
}
*/
.day-temp-h, .day-temp-l{
   margin-top: 32px;
   padding-right: 22px;
}

.hour-temp{
   margin-top: 30px;
}

#day1 {background-color: #6b7e90; margin:0;}
#day2 {background-color: #496076; margin:0;}
#day3 {background-color: #1f374e; margin:0;}
#day4 {background-color: #0f253a; margin:0;}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.text-bold{
   font-weight: 200;
}

.text-regular{
   font-weight: 100;
}

@media screen and (max-width: 768px) {
   .daily {
      height: 100%;
   }

   .img-daily{
      width: 60px;
   }
   .img-daily-wrapper{
      height: 60x;
   }
   #forecast {height: 75vh;}
   #content-forecast {height: calc(75vh - 40px);}
   .p-day{font-size: 35px;}
   .p-temp{
      font-size: 14px;
      padding: 3px;
   }
   .day-temp-h, .day-temp-l{
      padding-right: 0px;
   }

   .no-gutter-mobile > [class*='col-'] {
   padding-right:0;
    padding-left:0; 
}
}